
{% extends './base.html' %}

{% load static %}


{% block head_block %}
    <title>PASTEEE | image view</title>
    <link rel="stylesheet" href="{% static 'pasteee/css/image_view.css' %}">
{% endblock head_block%}


{% block body_block %}
    
    {% include './navbar.html' %}

    <div class="view-wrapper">

        {% if not file %}

            <h1>File does not exist anymore!</h1>

        {% else %}

            {% load static %}

            <span class="image-wrapper">
                <img class="image" src="{% static file %}" alt="image">
            </span>
            
            <span class="trigger"></span>

        {% endif %}

    </div>

{% endblock body_block%}


{% block js_block %}
{% endblock js_block %}