

$WHITE        : rgb(255,255,255);
$BLUISH-WHITE : rgb(240, 240, 240);
$BLACK        : rgb(0,0,0,);
$BLACK1       : rgb(34, 14, 14);
$GRAY         : rgb(144, 145, 146);
$GRAY1        : rgb(235, 211, 211);
$GREEN        : rgb(98, 194, 42);

