
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import 'mixin';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}


html 
{
    background-color: #eeeeee;
}

body
{
    display: block;

    width: 100vw;
    height: 100vh;

    min-width: 760px;
    min-height: 720px;

    @include onMediumDevice {
        min-width: 260px;
        min-height: 540px;
    }
}
